@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item color1 active">
            @*<img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />*@
            <div class="carousel-caption" role="option">
                <p>
                    Welcome to our HR Benefits portal!
                </p>
            </div>
        </div>
        <div class="item color2">
            @*<img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />*@
            <div class="carousel-caption" role="option">
                <p>
                    Welcome to our HR Benefits portal!
                </p>
            </div>
        </div>
        <div class="item color3">
            @*<img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />*@
            <div class="carousel-caption" role="option">
                <p>
                    Welcome to our HR Benefits portal!
                </p>
            </div>
        </div>
        <div class="item color4">
            @*<img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />*@
            <div class="carousel-caption" role="option">
                <p>
                    Welcome to our HR Benefits portal!
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Version 1 includes:</h2>
        <ul>
            <li>All HR employees can view their own personal and site-wide benefits</li>
            <li>A dashboard of all employees</li>
            <li>A form to add new employees</li>
            <li>Easy updates to all employees PTO time with one click</li>
        </ul>
    </div>
    
    <div class="col-md-6">
        <h2>Version 2 will include:</h2>
        <ul>
            <li>Drop-down lists for choosing benefits on add employee form</li>
            <li>An option to edit employees</li>
            <li>An option to remove terminated employees from dashboard but not from database</li>
            <li>Options to remove/add health, life, 401(k) plans to database</li>
        </ul>
    </div>
    
</div>
